@page "/"
<body>
    <h1>Data Buku Pelanggan</h1>
    <table class="table table-striped">
        <thead>
            <div>
            <tr>
                <th>ID Buku</th>
                <th>Judul Buku</th>
                <th>Genre Buku</th>
                <th>Penerbit</th>
                <th>Jumlah Halaman</th>
            </tr>
            </div>
        </thead>
        <tbody>
            <div>
            <tr>
                <td>1</td>
                <td>The Great Gatsby</td>
                <td>Novel</td>
                <td>Charles Scribner's Sons</td>
                <td>180</td>
            </tr>
            </div>
        </tbody>
    </table>
</body>
