@page "/kelola-data"
<body>
<h1>Selamat datang di Halaman Kelola Buku</h1>
<table class="table table-striped">
  <thead>
      <div>
    <tr>
      <th>ID Buku</th>
      <th>Judul Buku</th>
      <th>Genre Buku</th>
      <th>Penerbit</th>
      <th>Jumlah Halaman</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </div>
  </thead>
  <tbody>
      <div>
    <tr>
      <td>1</td>
      <td>The Great Gatsby</td>
      <td>Novel</td>
      <td>Charles Scribner's Sons</td>
      <td>180</td>
       <td><a href="edit" class="btn btn-primary">Edit</a></td>
       <td><a href="Delete" class="btn btn-danger">Delete</a></td>
    </tr>
    </div>
  </tbody>
</table>
</body>
