@page "/tambah-data"
<h3>Selamat Datang Di Form Peminjaman Buku</h3>
<form method="post" action="#">
  <div class="form-group">
    <label for="idbuku">ID Buku</label>
    <input type="text" class="form-control" name="idbuku">
  </div>
  <div class="form-group">
    <label for="judulbuku">Judul Buku</label>
    <input type="text" class="form-control" name="judulbuku">
  </div>
  <div class="form-group">
    <label for="genrebuku">Genre Buku</label>
    <input type="text" class="form-control" name="genrebuku">
  </div>
  <div class="form-group">
    <label for="penerbit">Penerbit</label>
    <input type="text" class="form-control" name="penerbit">
  </div>
  <div class="form-group">
    <label for="jumlahhalaman">Jumlah Halaman</label>
    <input type="number" class="form-control" name="jumlahhalaman">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
